<!doctype html>
        <!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
        <!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
        <!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
        <!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
        <head>
                <!-- META TAGS -->
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <title>EmotionHub BBS by lishuai</title>

                <link rel="shortcut icon" href="static/images/favicon.png" />

                <!-- Style Sheet-->
                <link rel="stylesheet" href="static/css/style.css"/>
                <link rel='stylesheet' id='bootstrap-css-css'  href='static/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='responsive-css-css'  href='static/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='pretty-photo-css-css'  href='static/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
                <link rel='stylesheet' id='main-css-css'  href='static/css/main5152.css?ver=1.0' type='text/css' media='all' />
                <link rel='stylesheet' id='custom-css-css'  href='static/css/custom5152.html?ver=1.0' type='text/css' media='all' />
            <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/bootstrap-theme.css">
    <script src="bootstrap/jquery-1.10.2.js"></script>
    <script src="bootstrap/bootstrap.js"></script>


                <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
                <!--[if lt IE 9]>
                <script src="tatic/js/html5.js"></script>
                <![endif]-->
<script type="text/javascript">
       function myCheck()
       {

          var file = document.getElementById('file');
           if (file.value == "") {
              alert("请选择您需要上传的文件！");
              return;
            }else{

                 document.form.submit();
              }

       }

 </script>
        </head>

        <body>

                <!-- Start of Header -->
                <div class="header-wrapper">
                        <header>
                                <div class="container">


                                        <div class="logo-container">
                                                EmotionHub BBS
                                        </div>


                                        <!-- Start of Main Navigation -->
                                        <!--添加发帖功能-->
                                        <nav class="main-nav">
                                                <div class="menu-top-menu-container">
                                                        <ul id="menu-top-menu" class="clearfix">
                                                                <li class="current-menu-item"><a href="{{ url_for('index') }}">Home</a></li>
                                                                <!--<li><a href="home-categories-description.html">Home 2</a></li>-->
                                                                <!--<li><a href="home-categories-articles.html">Home 3</a></li>-->
                                                                <li><a href="{{ url_for('article') }}">Hot Posts</a></li>
                                                                <li><a href="{{ url_for('post') }}">POST</a></li>
                                                                <li><a href="{{ url_for('cnn') }}">Emotion Classification</a>
                                                                        <!--<ul class="sub-menu">-->
                                                                                <!--<li><a href="full-width.html">Full Width</a></li>-->
                                                                                <!--<li><a href="elements.html">Elements</a></li>-->
                                                                                <!--<li><a href="page.html">Sample Page</a></li>-->
                                                                        <!--</ul>-->
                                                                </li>
                                                                <li><a href="{{ url_for('faq') }}">FAQs</a></li>
                                                                <li><a href="#">Skin</a>
                                                                        <ul class="sub-menu">
                                                                                <li><a href="#">Blue Skin</a></li>
                                                                                <li><a href="#">Green Skin</a></li>
                                                                                <li><a href="#">Red Skin</a></li>
                                                                                <li><a href="#">Default Skin</a></li>
                                                                        </ul>
                                                                </li>

                                                                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                                                <li><a href="#">Logout</a></li>

                                                        </ul>
                                                </div>
                                        </nav>
                                        <!-- End of Main Navigation -->

                                </div>
                        </header>
                </div>
                <!-- End of Header -->

                <!-- Start of Search Wrapper -->
                <div class="search-area-wrapper">
                        <div class="search-area container">
                                <h3 class="search-header">EmotionHub BBS</h3>
                                <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>

                                <form id="search-form" class="search-form clearfix" method="POST" action="#" autocomplete="on">
                                        <input class="search-term required" type="text" id="s" name="search term" placeholder="Type your search terms here" title="* Please enter a search term!" />
                                        <input class="search-btn" type="submit" value="Search" />
                                        <div id="search-error-container"></div>
                                </form>
                        </div>
                </div>
                <!-- End of Search Wrapper -->

                <!-- Start of Page Container -->
                <div class="page-container">

                        <div class="container">
                             <form method="post" enctype='multipart/form-data'>
                                                    <div class="row separator" align="center">

                                                       <span class="btn btn-success fileinput-button" >
            <span>上传</span>
            <input type="file" name="upfile" id="file">
                                                           <input type="submit" value="上传" onclick="myCheck();"/>
        </span>



                                                </div>
                             </form>
                                 <!--<section class="span4 articles-list">-->
                                                                <h3 align="center">初始媒体</h3>
                                                           <!--{{data}}-->
                                                       <!--<div class="post-video">-->
                                                                <!--<div class="video-wrapper">-->
                                                                        <!--<iframe src="f.ogg" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
                                                                <!--</div>-->
                                                        <!--</div>-->
                                <!--'..\static\uploads\@{{u}}'-->
                                                        <div align="center"> <video src="{{path1}}"  controls type="video/mp4" width="720" height="520"></video></div>




                                                        <!--</section>-->
                                 <!--<section class="span4 articles-list">-->
                                                                <h3 align="center">处理后的媒体</h3>
                                                           <!--{{data}}-->
                                                       <!--<div class="post-video">-->
                                                                <!--<div class="video-wrapper">-->
                                                                        <!--<iframe src="f.ogg" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>-->
                                                                <!--</div>-->
                                                        <!--</div>-->
                                <div align="center">
                                                        <video src="{{path2}}" controls  width="720" height="520"></video></div>




                                                        <!--</section>-->

                                <!--<div class="row">-->

                                        <!--&lt;!&ndash; start of page content &ndash;&gt;-->
                                        <!--<div class="span8 page-content">-->

                                                <!--&lt;!&ndash; Basic Home Page Template &ndash;&gt;-->

                                            <!--<div class="row separator">-->
                                               <!---->


                                                        <!--<section class="span4 articles-list">-->
                                                                  <!--<h3 align="center">处理后视频</h3>-->
                                                           <!--{{u}}-->
                                                       <!--&lt;!&ndash;<div class="post-video">&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<div class="video-wrapper">&ndash;&gt;-->
                                                                        <!--&lt;!&ndash;<iframe src="f.ogg" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                        <!--<video src="..\static\uploads\f.mp4" controls type="video/mp4" width="480" height="360"></video>-->


                                                        <!--</section>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--&lt;!&ndash; end of page content &ndash;&gt;-->


                                        <!--&lt;!&ndash; start of sidebar &ndash;&gt;-->
                                        <!--&lt;!&ndash;<aside class="span4 page-sidebar">&ndash;&gt;-->

                                                <!--&lt;!&ndash;<section class="widget">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<div class="support-widget">&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<h3 class="title">Support</h3>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<p class="intro">Need more support? If you did not found a post, contact me for further help.</p>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</section>&ndash;&gt;-->

                                                <!--&lt;!&ndash;<section class="widget">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<div class="quick-links-widget">&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<h3 class="title">Quick Links</h3>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<ul id="menu-quick-links" class="menu clearfix">&ndash;&gt;-->
                                                                        <!--&lt;!&ndash;<li><a href="#">Home</a></li>&ndash;&gt;-->
                                                                        <!--&lt;!&ndash;<li><a href="#">Post List</a></li>&ndash;&gt;-->
                                                                        <!--&lt;!&ndash;<li><a href="#">FAQs</a></li>&ndash;&gt;-->
                                                                        <!--&lt;!&ndash;<li><a href="#">Contact</a></li>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</section>&ndash;&gt;-->

                                                <!--&lt;!&ndash;<section class="widget">&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<h3 class="title">Tags</h3>&ndash;&gt;-->
                                                        <!--&lt;!&ndash;<div class="tagcloud">&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">同济大学</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">初学者</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">写博客</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">出国</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">计算机视觉</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">情绪分类</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">软件工程课程设计</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">帖子</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">格式</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">补丁</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">图像</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">视频</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">论文</a>&ndash;&gt;-->
                                                                <!--&lt;!&ndash;<a href="#" class="btn btn-mini">数据增强</a>&ndash;&gt;-->

                                                                <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="btn btn-mini">setting</a>&ndash;&gt;&ndash;&gt;-->
                                                                <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="btn btn-mini">templates</a>&ndash;&gt;&ndash;&gt;-->
                                                                <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="btn btn-mini">theme</a>&ndash;&gt;&ndash;&gt;-->
                                                                <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="btn btn-mini">time</a>&ndash;&gt;&ndash;&gt;-->
                                                                <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="btn btn-mini">videos</a>&ndash;&gt;&ndash;&gt;-->
                                                                <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="btn btn-mini">website</a>&ndash;&gt;&ndash;&gt;-->
                                                                <!--&lt;!&ndash;&lt;!&ndash;<a href="#" class="btn btn-mini">wordpress</a>&ndash;&gt;&ndash;&gt;-->
                                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</section>&ndash;&gt;-->

                                        <!--&lt;!&ndash;</aside>&ndash;&gt;-->
                                        <!--&lt;!&ndash; end of sidebar &ndash;&gt;-->
                                <!--</div>-->
                        </div>
                </div>
                <!-- End of Page Container -->

                <!-- Start of Footer -->
                <footer id="footer-wrapper">
                        <div id="footer" class="container">
                                <div class="row">

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">How it works</h3>
                                                        <div class="textwidget">
                                                                <p>本网站由同济大学计算机系李帅设计，总体采用Flask框架，支持全站搜索，情绪分析，其中情绪分析是基于深度学习ResNet,在FER2013训练集上训练得到。 </p>
                                                                <p>Github:<a href="https://github.com/TomHacker">https://github.com/TomHacker</a> </p>

                                                        </div>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget"><h3 class="title">Categories</h3>
                                                        <ul>
                                                                <!--<li><a href="#" title="Lorem ipsum dolor sit amet,">Advanced Techniques</a> </li>-->
                                                                <li><a href="http://www.cs.cmu.edu/~cil/vision.html" title="Lorem ipsum dolor sit amet,">Computer Vision</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Server &amp; Database</a></li>
                                                                <li><a href="http://flask.pocoo.org/" title="Lorem ipsum dolor sit amet, ">Flask</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">Website Dev</a></li>
                                                                <li><a href="https://www.tongji.edu.cn/" title="Lorem ipsum dolor sit amet,">Tongji University</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">Go Abroad</a></li>
                                                        </ul>
                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Latest Tweets</h3>
                                                        <div id="twitter_update_list">
                                                                <ul>
                                                                        <li>No Tweets loaded !</li>
                                                                </ul>
                                                        </div>

                                                </section>
                                        </div>

                                        <div class="span3">
                                                <section class="widget">
                                                        <h3 class="title">Flickr Photos</h3>
                                                        <div class="flickr-photos" id="basicuse">
                                                        </div>
                                                </section>
                                        </div>

                                </div>
                        </div>
                        <!-- end of #footer -->

                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
                                                                Copyright &copy; 2018.LiShuai Group All rights reserved.<a target="_blank" href="#">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                                                        </p>
                                                </div>
                                                <div class="span6">
                                                        <!-- Social Navigation -->
                                                        <ul class="social-nav clearfix">
                                                                <li class="linkedin"><a target="_blank" href="#"></a></li>
                                                                <li class="stumble"><a target="_blank" href="#"></a></li>
                                                                <li class="google"><a target="_blank" href="#"></a></li>
                                                                <li class="deviantart"><a target="_blank" href="#"></a></li>
                                                                <li class="flickr"><a target="_blank" href="#"></a></li>
                                                                <li class="skype"><a target="_blank" href="skype:#?call"></a></li>
                                                                <li class="rss"><a target="_blank" href="#"></a></li>
                                                                <li class="twitter"><a target="_blank" href="#"></a></li>
                                                                <li class="facebook"><a target="_blank" href="#"></a></li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src='js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='js/prettyphoto/jquery.prettyPhoto.js'></script>
                <script type='text/javascript' src='js/jflickrfeed.js'></script>
				<script type='text/javascript' src='js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='js/jquery.form.js'></script>
                <script type='text/javascript' src='js/jquery.validate.min.js'></script>
                <script type='text/javascript' src='js/custom.js'></script>

        <div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>